body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
    background: #2222;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background: #d1d1d1;
    padding: 20px;
    border-radius: 30px;
    font-size: 30px;
}

.card-title{
    font-size: 50px;
}
